/* My Custom CSS */
* {
    font-family: Roboto, sans-serif;
    background-color: ivory;
    line-height: 25px;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
h1 {
    font-weight: bold;
    font-size: 48px
}
h2 {
    font-weight: normal;
    font-size: 32px
}